<div id="<%= dom_id attr_color %>">
  <p>
    <strong>Rgb:</strong>
    <%= attr_color.rgb %>
    <span class="color-circle" style="background-color: <%= attr_color.rgb %>;"></span>
  </p>

  <p>
    <strong>Name:</strong>
    <%= attr_color.name %>
  </p>
</div>

<style>
  .color-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 4px;
    vertical-align: middle;
    border: 1px solid #ddd;
  }
</style>
