<% content_for :title, "Orders" %>


<div class="container">
  <h1 class="text-center">订单</h1>

  <div id="orders">
    <% @orders.each do |order| %>
      <% if (%w[Merchant].include? session[:current_role]) || (@current_user.id == order.user_id) %>
        <%= render order %>
      <% end %>
      <br />
    <% end %>
  </div>

  <div class="row">
    <%= link_to "返回商品总览", goods_path, class: "offset-2 col-3 btn btn-primary" %>
    <% if session[:current_role] == "Customer" %>
      <%= link_to "新建订单", new_order_path, class: "offset-2 col-3 btn btn-primary" %>
    <% end %>
  </div>

  <br />
</div>
