<p style="color: green"><%= notice %></p>

<% content_for :title, "Favorite items" %>

<h1>Favorite items</h1>

<div id="favorite_items">
  <% @favorite_items.each do |favorite_item| %>
    <%= render favorite_item %>
    <p>
      <%= link_to "Show this favorite item", favorite_item %>
    </p>
  <% end %>
</div>

<%= link_to "New favorite item", new_favorite_item_path %>
