<p style="color: green"><%= notice %></p>

<% content_for :title, "Favorite items" %>

<h1>Favorite items</h1>

<div id="favorite_items">
  <% @favorite_items.each do |favorite_item| %>
    <%= render favorite_item %>
  <% end %>
</div>

<%= link_to "Go Back", goods_path %>  
