<p style="color: green"><%= notice %></p>

<% content_for :title, "Comments" %>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", blog_comment_path(comment.blog_id, comment.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_blog_comment_path(@comments) %>
