<% content_for :title, "New comment" %>

<h1>New comment</h1>

<%= render "form", url: new_blog_comment_path(params[:blog_id]), comment: @comment %>

<br>

<div>
  <%= link_to "Back to comments", blog_comments_path(params[:blog_id]) %>
</div>
