<% content_for :title, "商品总览 - Ruby Mailer" %>

<h1 class="text-center">
  商品总览
  <% if session[:current_role] == "Merchant" || session[:current_role] == "Admin" %>
    <%= link_to "创建商品", new_good_path, class: "btn btn-primary" %>
  <% end %>
</h1>

<hr />

<div class="container mt-10">
  <div class="row g-3">
    <% @goods.each do |good| %>
      <div class="col-lg-6 mb-6">
        <div class="card h-100">
          <div class="card-body">
            <%= render good %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
