<div id="<%= dom_id cart_item %>">
  <p>
    <strong>User:</strong>
    <%= cart_item.user_id %>
  </p>

  <p>
    <strong>Good:</strong>
    <%= cart_item.good_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= cart_item.count %>
  </p>

</div>
