<div id="<%= dom_id cart_item %>">
  <p>
    <strong>Good:</strong>
    <%= Good.where(id: cart_item.good_id).first.name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= cart_item.count %>
  </p>

</div>
