<p style="color: green"><%= notice %></p>

<% content_for :title, "Cart items" %>

<h1>Cart items</h1>

<div id="cart_items">
  <% @cart_items.each do |cart_item| %>
    <% unless CartItem.where(user_id: session[:current_userid]).empty? %>
        <%= render cart_item %>
    <% end %>
  <% end %>
</div>

<%= link_to "Back to Goods", goods_path %>
