<% content_for :title, "Editing attr tag" %>

<h1>Editing attr tag</h1>

<%= render "form", attr_tag: @attr_tag %>

<br>

<div>
  <%= link_to "Show this attr tag", @attr_tag %> |
  <%= link_to "Back to attr tags", attr_tags_path %>
</div>
