<p style="color: green"><%= notice %></p>

<% content_for :title, "Attr tags" %>

<h1>Attr tags</h1>

<div id="attr_tags">
  <% @attr_tags.each do |attr_tag| %>
    <%= render attr_tag %>
    <p>
      <%= link_to "Show this attr tag", attr_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New attr tag", new_attr_tag_path %>
