<div id="<%= dom_id order_item %>">
  <p>
    <strong>Good:</strong>
    <%= order_item.good_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= order_item.count %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

</div>
